[Unit]
Description=Postgres service

# Requirements
Requires=etcd.service
Requires=docker.service

# Dependency ordering
After=etcd.service
After=docker.service
Before=postgres-discovery.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill postgres
ExecStartPre=-/usr/bin/docker rm postgres
ExecStartPre=/usr/bin/docker pull postgres
ExecStart=/usr/bin/docker run --name postgres -p ${COREOS_PRIVATE_IPV4}:5432:5432 \
postgres 

# Stop
ExecStop=/usr/bin/docker stop postgres

[X-Fleet]
X-Conflicts=postgres.service
